<li class="ai1ec-dropdown ai1ec-tag-filter
	{% if selected_tag_ids is not empty %}ai1ec-active{% endif %}">
	<a class="ai1ec-dropdown-toggle" data-toggle="ai1ec-dropdown">
		<i class="ai1ec-fa ai1ec-fa-tags"></i>
		<span class="ai1ec-clear-filter ai1ec-tooltip-trigger"
			data-href="{{ clear_filter }}"
			{{ data_type | raw }}
			title="{{ text_clear_tag_filter }}">
			<i class="ai1ec-fa ai1ec-fa-times-circle"></i>
		</span>
		{{ text_tags }}
		<span class="ai1ec-caret"></span>
	</a>
	<div class="ai1ec-dropdown-menu">
		{% for term in tags %}
			<span data-term="{{ term.term_id }}"
				{% if term.term_id in selected_tag_ids %}
					class="ai1ec-active"
				{% endif %}>
				<a class="ai1ec-load-view ai1ec-tag"
					{% if term.description is not empty %}
						title="{{ term.description | e('html_attr') }}"
					{% endif %}
					{{ data_type | raw }}
					href="{{ term.href | e('html_attr') }}">
					{{ term.name | raw }}
				</a>
			</span>
		{% endfor %}
	</div>
</li>
